In [6]:
import psycopg2
import pandas as pd
# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    dbname="Project_3",
    user="postgres",
    password="postgresql123",
    host="localhost",
    port="5432"
)

In [7]:
# Write your SQL query
query = "SELECT * FROM social_media_popularity;"

# Execute the query and load the results into a DataFrame
df = pd.read_sql_query(query, conn)

# Print the DataFrame
print(df)

        date  facebook  printest  twitter  stumbleupon  youtube  instagram  \
0    2009-04     20.16      0.00     6.86        36.79     0.00       0.00
1    2009-05     24.30      0.00     9.95        33.78     0.00       0.00
2    2009-06     26.48      0.00    10.56        29.65     0.00       0.00
3    2009-07     29.10      0.00    10.35        33.55     0.00       0.00
4    2009-08     34.25      0.00    11.15        29.01     0.00       0.00
..       ...       ...       ...      ...          ...      ...        ...
173  2023-09     65.24      7.28     8.75         0.00     4.00      13.31
174  2023-10     65.15      8.47     8.75         0.01     4.43      12.05
175  2023-11     63.56     10.02     8.49         0.00     5.02      11.38
176  2023-12     64.79      9.97     7.75         0.00     5.88      10.03
177  2009-03      0.00      0.00     0.00         0.00     0.00       0.00

     tumbler  reddit  vkontakte  ...  myspace  fark  nowpublic  iwiw  \
0       0.00    8.98       0.00  ...    14.81  0.22       0.04  0.29
1       0.00    7.62       0.00  ...     8.95  0.44       0.05  2.10
2       0.00   12.13       0.00  ...     7.66  0.66       0.05  2.35
3       0.00    9.52       0.00  ...     5.49  0.22       0.03  2.21
4       0.00    9.37       0.00  ...     4.69  0.40       0.08  2.27
..       ...     ...        ...  ...      ...   ...        ...   ...
173     0.20    0.52       0.22  ...     0.00  0.02       0.00  0.00
174     0.21    0.37       0.07  ...     0.00  0.02       0.00  0.00
175     0.24    0.64       0.08  ...     0.00  0.02       0.00  0.00
176     0.22    0.70       0.07  ...     0.00  0.03       0.00  0.00
177     0.00    0.00       0.00  ...     0.00  0.00       0.00  0.00

     news.ycombinator.com  delicious  orkut  odnoklassniki  vimeo  other
0                    0.08       0.49   1.75            0.0    0.0   2.83
1                    0.12       0.57   1.77            0.0    0.0   2.72
2                    0.11       0.58   1.46            0.0    0.0   1.93
3                    0.14       0.55   1.24            0.0    0.0   1.84
4                    0.08       0.52   1.27            0.0    0.0   1.90
..                    ...        ...    ...            ...    ...    ...
173                  0.00       0.00   0.00            0.0    0.0   0.01
174                  0.00       0.00   0.00            0.0    0.0   0.00
175                  0.00       0.00   0.00            0.0    0.0   0.00
176                  0.01       0.00   0.00            0.0    0.0   0.00
177                  0.00       0.00   0.00            0.0    0.0   0.00

[178 rows x 23 columns]

C:\Users\Arzoo\AppData\Local\Temp\ipykernel_22880\3541085014.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [12]:
import psycopg2
import pandas as pd
# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    dbname="US_SOCIAL_MEDIA_POPULARITY",
    user="postgres",
    password="postgresql123",
    host="localhost",
    port="5432"
)

In [13]:
# Write your SQL query
query = "SELECT * FROM us_social_media_popularity;"

# Execute the query and load the results into a DataFrame
us_df = pd.read_sql_query(query, conn)

# Print the DataFrame
print(us_df)

        date  facebook  printest  twitter  stumbleupon  reddit  tumbler  \
0    2009-04     12.89      0.00     6.69        42.45    9.83     0.00
1    2009-05     15.88      0.00    10.45        42.55    9.10     0.00
2    2009-06     17.02      0.00    11.25        38.08   14.80     0.00
3    2009-07     19.08      0.00    10.55        43.41   11.64     0.00
4    2009-08     24.45      0.00    11.37        38.84   11.85     0.00
..       ...       ...       ...      ...          ...     ...      ...
349  2023-08     49.90     14.69    14.63         0.00    1.66     0.26
350  2023-09     49.56     16.66    14.67         0.01    1.18     0.24
351  2023-10     47.96     20.13    13.81         0.01    0.70     0.25
352  2023-11     41.98     25.66    13.43         0.00    1.45     0.27
353  2023-12     47.74     25.52    11.56         0.00    1.48     0.24

     youtube  instagram  linkedin  digg  myspace  fark  Google+  nowpublic  \
0       0.00       0.00      0.00  6.02    19.04  0.30      0.0       0.03
1       0.00       0.00      0.27  6.85    11.06  0.65      0.0       0.04
2       0.00       0.00      0.50  5.17     9.46  1.03      0.0       0.05
3       0.00       0.00      0.40  5.05     6.86  0.34      0.0       0.05
4       0.00       0.00      0.45  3.92     5.85  0.64      0.0       0.08
..       ...        ...       ...   ...      ...   ...      ...        ...
349     2.29      15.85      0.62  0.00     0.00  0.08      0.0       0.00
350     2.02      14.96      0.61  0.00     0.00  0.05      0.0       0.00
351     2.27      14.04      0.74  0.00     0.00  0.07      0.0       0.00
352     2.28      13.98      0.87  0.00     0.00  0.07      0.0       0.00
353     2.11      10.36      0.88  0.00     0.00  0.09      0.0       0.00

     news.ycombinator.com  delicious  vkontakte  vimeo  other
0                    0.08       0.38       0.00    0.0   2.30
1                    0.12       0.46       0.00    0.0   2.57
2                    0.12       0.47       0.00    0.0   2.06
3                    0.15       0.43       0.00    0.0   2.04
4                    0.09       0.41       0.00    0.0   2.06
..                    ...        ...        ...    ...    ...
349                  0.00       0.00       0.01    0.0   0.00
350                  0.00       0.00       0.03    0.0   0.01
351                  0.00       0.00       0.01    0.0   0.00
352                  0.00       0.00       0.01    0.0   0.00
353                  0.01       0.00       0.01    0.0   0.00

[354 rows x 20 columns]

C:\Users\Arzoo\AppData\Local\Temp\ipykernel_22880\3073819510.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  us_df = pd.read_sql_query(query, conn)

In [ ]:
# Import the Dependencies for statistical analysis